<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>
</head>
<body>
    <h1>{{ product.name }}</h1>
    <p>slug : {{ product.slug }}</p>
    <img src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}">
    <p>price: {{ product.price }}</p>
    <p>quantity: {{ product.stock }}</p>
    <p><a href="{% url 'shop:categories' %}">Back to categories</a></p>
    <p><a href="{% url 'main' %}">GO TO MAIN PAGE</a></p>

    <h3>description</h3>
    <p>{{ product.description }}</p>
</body>
</html>