<div class="header clearfix">
	<a href="/" class="logo"></a>
	<ul class="menu">
		<li><a href="{% url 'main' %}" class="active">домой</a></li>
		<li><a href="{% url 'products' %}">продукты</a></li>
		<li><a href="{% url 'contacts' %}">контакты</a></li>
		<li><a href="{% url 'shop:categories' %}">новый каталог</a></li>
		{% if user.is_authenticated %}
			<li><a href="{% url 'auth:logout' %}">выйти</a></li>
		{% endif %}

	</ul>
	<a href="#" class="search"></a>
	<a href="#" class="basket"></a>
</div>