{% load static %}
<div class="related">
			<div class="title clearfix">
				<h2>Похожие продукты</h2>
				<a class="explore" href="#">показать все <img src="{% static 'img/arrow.png' %}" alt=""></a>
			</div>
			<div class="related-products clearfix">
				{% for product in same_products %}
					<div class="block">
						<a href="#"><img src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}">
							<div class="text">
								<img src="{% static 'img/icon-hover.png' %}" alt="img">
								<h4>продукт: {{ product.name }}</h4>
								<p>категория: {{ product.category.name }} </p>
							</div>
						</a>
					</div>
				{% endfor %}

			</div>
		</div>
